body 
{
    background-image:url("https://png.pngtree.com/thumb_back/fh260/background/20211219/pngtree-cute-pastel-background-aesthetic-image_928060.jpg");
    background-size:100%; 
    font: sans-serif; 
    text-align: center;
    
}

button 
{
    padding: 20px;
    width: 600px;
    background-color: #e1f2ef; 
    color: #550c34;
    font-size:45px;
    font-family: merriweather;
	margin: 20px auto;
	zoom:120%;
}

input
{
	height: 120px;
	width: 800px;
	font-size: 55px;
	text-align: center;
	color: #550c34;
	font-family: merriweather;
}